.outer-container {
  margin-left: 25%;
  align-items: center;
  display: flex;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgb(152, 152, 152);
  border-radius: 20px;
  z-index: 10;
  background-color: black;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin: 2%;
  font-size: xx-large;
  text-transform: capitalize;
  color: aliceblue;
  padding: 0%;
}

.screen {
  border: 1px solid white;
  width: 900px;
  height: 300px;
  background-color: white;
}

.btnCnt {
  width: max-content;
  padding: 20px;
  display: flex;
  gap: 10px;
}

.btn-1 {
  width: 100px;
  border: 1px solid white;
  color: aliceblue;
  border-radius: 10px;
  background-color: red;
  font-size: 80%;
  height: 30px;
}

.btn-2 {
  width: 100px;
  border: 1px solid white;
  color: aliceblue;
  border-radius: 10px;
  background-color: blue;
  font-size: 80%;
  height: 30px;
}

.btn-3 {
  width: 100px;
  border: 1px solid white;
  color: aliceblue;
  border-radius: 10px;
  background-color: green;
  font-size: 80%;
  height: 30px;
}
